.intro {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.intro .intro-container {
  background-color: #aeb6bf;
  width: 80%;
  height: auto;
  padding: 20px;
}
.intro .intro-container__text {
  font-family: "Roboto", "sans-serif";
  background-color: inherit;
}
.intro .intro-container__heading {
  font-family: "Ubuntu", "sans-serif";
  margin-top: 20px;
  background-color: inherit;
}
.intro .intro-container__link {
  display: flex;
  justify-content: center;
  background-color: #aeb6bf;
  text-decoration: none;
}
.intro .intro-container__link button {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #e3f6f5;
  margin-top: 100px;
  margin-bottom: 70px;
}
.intro .intro-container img {
  width: 200px;
  height: auto;
  border: 2px solid #e3f6f5;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  box-shadow: 1px 1px 5px;
  display: none;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}
.skills h2 {
  font-family: "Ubuntu", "sans-serif";
  font-size: 18px;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}
.skills__text {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  padding: 10px;
  text-align: center;
  display: flex;
  align-self: center;
  width: 300px;
}
.skills__icon-with-text {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-self: center;
  margin-top: 20px;
}
.skills__icon-with-text img {
  height: 45px;
  padding: 5px;
  display: block;
  margin: 0 auto;
}
.skills__icon-with-text p {
  font-family: "Ubuntu", "sans-serif";
  font-size: 12px;
  text-align: center;
}

.projects__text {
  font-family: "Ubuntu", "sans-serif";
  text-align: center;
  font-size: 18px;
  padding: 10px;
  margin-top: 30px;
}
.projects__cards {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects__cards .card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
}
.projects__cards .card__img-container {
  background-color: #aeb6bf;
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}
.projects__cards .card__img-container--blue-bg {
  background-color: #d6eaf8;
}
.projects__cards .card__img-container:hover {
  background-color: #e3f6f5;
}
.projects__cards .card__img {
  width: 80%;
  height: auto;
  margin-top: 30px;
}
.projects__cards .card h3 {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: white;
  margin-top: 15px;
}
.projects__cards .card h4 {
  font-family: "Ubuntu", "sans-serif";
  font-size: 20px;
}
.projects__cards .card p {
  font-family: "Roboto", "sans-serif";
  font-size: 12px;
}
.projects__cards .card__button {
  font-family: "Roboto", "sans-serif";
  margin-top: 10px;
  margin-bottom: 10px;
}
.projects__cards .card__button button {
  background-color: #e3f6f5;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  width: 88px;
  margin-right: 10px;
  border: 1px solid #272643;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 2px;
  color: #272643;
}
.projects__cards .card__button button:hover {
  background-color: white;
  cursor: pointer;
}

.footer {
  background-color: #aeb6bf;
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100 vw;
  height: 150px;
}
.footer__link-icon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: inherit;
}
.footer a {
  border: 3px solid #272643;
  border-radius: 50%;
}
.footer img {
  align-self: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #aeb6bf;
}
.footer img:hover {
  background-color: #e3f6f5;
}
.footer p {
  background-color: inherit;
  color: #272643;
  margin-top: 20px;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.about-me__heading {
  font-family: "Ubuntu", "sans-serif";
  font-size: 18px;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
}
.about-me__my-image {
  width: 200px;
  height: auto;
  border: 2px solid #e3f6f5;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  box-shadow: 1px 1px 5px;
}
.about-me__text {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}
.about-me__text p {
  font-family: "Roboto", "sans-serif";
  font-size: 12px;
  margin-bottom: 10px;
}
.about-me__laptop-girl {
  display: none;
  width: 180px;
}