@use "./variables" as *;

.intro {
  padding: 20px;
  display: flex;
  justify-content: center;

  .intro-container {
    background-color: $extra-color;
    width: 80%;
    height: auto;
    padding: 20px;

    &__text {
      font-family: $secondary-font;
      background-color: inherit;
      color: $hilighted-color;
    }
    &__heading {
      font-family: $primary-font;
      margin-top: 20px;
      background-color: inherit;
      color: $hilighted-color;
    }
    &__link {
      display: flex;
      justify-content: center;
      background-color: $extra-color;
      text-decoration: none;
      margin-top: 100px;
      margin-bottom: 70px;

      button {
        padding: 10px;
        border-radius: 5px;
        border: 2px solid $secondary-color;
      }

      button:hover {
        cursor: pointer;
      }
    }

    img {
      width: 200px;
      height: auto;
      border: 2px solid $secondary-color;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
      box-shadow: 1px 1px 5px;
      display: none;
    }
  }
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;

  h2 {
    font-family: $primary-font;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
  }

  &__text {
    font-family: $secondary-font;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-self: center;
    width: 300px;
  }

  &__icon-with-text {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    align-self: center;
    margin-top: 20px;

    img {
      height: 45px;
      padding: 5px;
      display: block;
      margin: 0 auto;
    }

    p {
      font-family: $primary-font;
      font-size: 12px;
      text-align: center;
    }
  }
}

.projects {
  &__text {
    font-family: $primary-font;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    margin-top: 30px;
  }

  &__cards {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card {
      display: flex;
      flex-direction: column;
      width: 90%;
      height: auto;
      margin-left: 20px;
      margin-right: 20px;

      &__img-container {
        background-color: $extra-color;
        position: relative;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin-top: 20px;

        &--blue-bg {
          background-color: #d6eaf8;
        }
      }

      &__img-container:hover {
        background-color: $secondary-color;
      }

      &__img {
        width: 80%;
        height: auto;
        margin-top: 30px;
      }

      h3 {
        font-family: $secondary-font;
        font-size: 12px;
        color: $hilighted-color;
        margin-top: 15px;
      }

      h4 {
        font-family: $primary-font;
        font-size: 16px;
        margin-bottom: 10px;
      }

      p {
        font-family: $secondary-font;
        font-size: 12px;
      }

      &__button {
        font-family: $secondary-font;
        margin-top: 10px;
        margin-bottom: 10px;

        button {
          background-color: $secondary-color;
          font-size: 14px;
          font-weight: bold;
          text-decoration: none;
          width: 88px;
          margin-right: 10px;
          border: 1px solid $primary-color;
          border-radius: 5px;
          padding: 5px;
          box-shadow: 1px 1px 2px;
          color: $primary-color;
        }

        button:hover {
          background-color: white;
          cursor: pointer;
        }
      }
    }
  }
}

.footer {
  background-color: $secondary-color;
  font-family: $secondary-font;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100 vw;
  height: 150px;

  &__link-icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: inherit;
  }

  a {
    border: 3px solid $primary-color;
    border-radius: 50%;
  }

  img {
    align-self: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: $secondary-color;
  }

  img:hover {
    background-color: $hilighted-color;
  }

  p {
    background-color: inherit;
    color: $primary-color;
    margin-top: 20px;
  }
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;

  &__heading {
    font-family: $primary-font;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
  }

  &__my-image {
    width: 200px;
    height: auto;
    border: 2px solid $secondary-color;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    box-shadow: 1px 1px 5px;
  }

  &__text {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;

    p {
      font-family: $secondary-font;
      font-size: 12px;
      margin-bottom: 10px;
    }
  }

  &__laptop-girl {
    display: none;
    width: 180px;
  }
}
