@use "./variables" as *;
@use "./components" as *;
@use "./nav" as *;

// font "Ubuntu" , "Roboto"
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu:ital,wght@0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $primary-color;
  color: $secondary-color;
}

@media screen and (min-width: 768px) {
  .top-nav {
    .navbar {
      display: grid;
      grid-template-columns: 2fr 2fr;
      &__list {
        display: unset;
      }

      &__heading {
        display: none;
      }

      &__heading2 {
        display: unset;
      }

      &__image {
        display: none;
      }
    }
  }

  .intro {
    .intro-container {
      &__heading {
        text-align: center;
      }
    }
  }

  .skills {
    &__icon-with-text {
      display: flex;
      justify-content: center;
    }
  }

  .projects {
    &__cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .about-me {
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-areas:
      "myimage heading heading heading"
      "myimage text text text"
      "myimage text text text";

    &__heading {
      grid-area: heading;
      text-align: left;
      margin-bottom: 10px;
      margin-left: 40px;
    }

    &__my-image {
      grid-area: myimage;
      align-self: center;
    }

    &__text {
      grid-area: text;
      width: 50%;
    }
  }

  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    .intro-container {
      display: grid;
      grid-template-areas:
        "text text text"
        "heading heading image"
        "button button image";

      &__text {
        grid-area: text;
        font-size: 20px;
      }

      &__heading {
        grid-area: heading;
        font-size: 26px;
      }

      &__link {
        grid-area: button;

        button {
          margin: 0;
          font-size: 20px;
        }
      }

      img {
        grid-template-columns: image;
        display: unset;
        margin: 0;
      }
    }
  }

  .skills {
    h2 {
      font-size: 22px;
    }

    &__text {
      font-size: 16px;
    }

    &__icon-with-text {
      p {
        font-size: 16px;
      }
    }
  }

  .projects {
    &__text {
      font-size: 22px;
    }

    &__cards {
      .card {
        h3 {
          font-size: 16px;
        }
        h4 {
          font-size: 18px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }
  .about-me {
    margin-bottom: 100px;
    display: grid;
    grid-template-areas:
      "heading heading"
      "text image";

    &__heading {
      grid-area: heading;
      margin-left: 0;
      font-size: 22px;
    }

    &__my-image {
      grid-area: image;
    }

    &__text {
      grid-area: text;
      margin: 0;
      width: 80%;

      p {
        font-size: 16px;
      }
    }
    &__my-image {
      display: none;
    }

    &__laptop-girl {
      display: unset;
    }
  }

  .experience {
    &__collapsible {
      font-size: 16px;
    }

    &__content {
      font-size: 16px;
    }
  }
}
