@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu:ital,wght@0,700;1,400&display=swap");
.intro {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.intro .intro-container {
  background-color: #aeb6bf;
  width: 80%;
  height: auto;
  padding: 20px;
}
.intro .intro-container__text {
  font-family: "Roboto", "sans-serif";
  background-color: inherit;
}
.intro .intro-container__heading {
  font-family: "Ubuntu", "sans-serif";
  margin-top: 20px;
  background-color: inherit;
}
.intro .intro-container__link button {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #e3f6f5;
  margin-top: 40px;
  margin-bottom: 40px;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}
.skills h2 {
  font-family: "Ubuntu", "sans-serif";
  font-size: 18px;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}
.skills__text {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  padding: 10px;
  text-align: center;
  display: flex;
  align-self: center;
  width: 300px;
}
.skills__icon-with-text {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-self: center;
  margin-top: 20px;
}
.skills__icon-with-text img {
  height: 45px;
  padding: 5px;
  display: block;
  margin: 0 auto;
}
.skills__icon-with-text p {
  font-family: "Ubuntu", "sans-serif";
  font-size: 12px;
  text-align: center;
}

.project__text {
  font-family: "Ubuntu", "sans-serif";
  text-align: center;
  font-size: 18px;
  padding: 10px;
  margin-top: 30px;
}
.project__cards {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project__cards .card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
}
.project__cards .card__img-container {
  background-color: #aeb6bf;
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}
.project__cards .card__img-container--blue-bg {
  background-color: #d6eaf8;
}
.project__cards .card__img-container:hover {
  background-color: #e3f6f5;
}
.project__cards .card__img {
  width: 80%;
  height: auto;
  margin-top: 30px;
}
.project__cards .card h3 {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: white;
  margin-top: 15px;
}
.project__cards .card h4 {
  font-family: "Ubuntu", "sans-serif";
  font-size: 20px;
}
.project__cards .card p {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
}
.project__cards .card__button {
  font-family: "Roboto", "sans-serif";
  margin-top: 10px;
  margin-bottom: 10px;
}
.project__cards .card__button button {
  background-color: #e3f6f5;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  width: 88px;
  margin-right: 10px;
  border: 1px solid #272643;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 2px;
  color: #272643;
}
.project__cards .card__button button:hover {
  background-color: white;
  cursor: pointer;
}

.footer {
  background-color: #e3f6f5;
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100 vw;
  height: 150px;
}
.footer__link-icon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: #e3f6f5;
}
.footer a {
  border: 3px solid #272643;
  border-radius: 50%;
}
.footer img {
  align-self: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #e3f6f5;
}
.footer img:hover {
  background-color: #e3f6f5;
}
.footer p {
  background-color: #e3f6f5;
  color: #272643;
  margin-top: 20px;
}

.top-nav .navbar {
  display: grid;
  grid-template-columns: 5fr 1fr;
  padding: 18px;
}
.top-nav .navbar__heading {
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
}
.top-nav .navbar__image {
  width: 50%;
}
.top-nav .navbar__list {
  display: flex;
  align-items: center;
  font-family: "Roboto", "sans-serif";
  display: none;
}
.top-nav .navbar__list a {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 14px;
}
.top-nav .navbar__list a:link,
.top-nav .navbar__list a:visited {
  text-decoration: none;
}
.top-nav .navbar__list--button {
  background-color: #e3f6f5;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Roboto", "sans-serif";
  color: #272643;
  text-align: center;
  width: 100px;
  padding: 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #272643;
  color: #e3f6f5;
}/*# sourceMappingURL=main.css.map */