@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu:ital,wght@0,700;1,400&display=swap");
.intro {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.intro .intro-container {
  background-color: #4a5867;
  width: 80%;
  height: auto;
  padding: 20px;
}
.intro .intro-container__text {
  font-family: "Roboto", "sans-serif";
  background-color: inherit;
  color: white;
}
.intro .intro-container__heading {
  font-family: "Ubuntu", "sans-serif";
  margin-top: 20px;
  background-color: inherit;
  color: white;
}
.intro .intro-container__link {
  display: flex;
  justify-content: center;
  background-color: #4a5867;
  text-decoration: none;
  margin-top: 100px;
  margin-bottom: 70px;
}
.intro .intro-container__link button {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #e3f6f5;
}
.intro .intro-container__link button:hover {
  cursor: pointer;
}
.intro .intro-container img {
  width: 200px;
  height: auto;
  border: 2px solid #e3f6f5;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  box-shadow: 1px 1px 5px;
  display: none;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}
.skills h2 {
  font-family: "Ubuntu", "sans-serif";
  font-size: 18px;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}
.skills__text {
  font-family: "Roboto", "sans-serif";
  font-size: 12px;
  padding: 10px;
  text-align: center;
  display: flex;
  align-self: center;
  width: 300px;
}
.skills__icon-with-text {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-self: center;
  margin-top: 20px;
}
.skills__icon-with-text img {
  height: 45px;
  padding: 5px;
  display: block;
  margin: 0 auto;
}
.skills__icon-with-text p {
  font-family: "Ubuntu", "sans-serif";
  font-size: 12px;
  text-align: center;
}

.projects__text {
  font-family: "Ubuntu", "sans-serif";
  text-align: center;
  font-size: 18px;
  padding: 10px;
  margin-top: 30px;
}
.projects__cards {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects__cards .card {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
}
.projects__cards .card__img-container {
  background-color: #4a5867;
  position: relative;
  height: 240px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}
.projects__cards .card__img-container--blue-bg {
  background-color: #d6eaf8;
}
.projects__cards .card__img-container:hover {
  background-color: #e3f6f5;
}
.projects__cards .card__img {
  width: 90%;
  height: 200px;
  margin-top: 30px;
}
.projects__cards .card__text-container h3 {
  font-family: "Roboto", "sans-serif";
  font-size: 12px;
  color: white;
  margin-top: 15px;
}
.projects__cards .card__text-container h4 {
  font-family: "Ubuntu", "sans-serif";
  font-size: 16px;
  margin-bottom: 10px;
}
.projects__cards .card__text-container p {
  width: 320px;
  font-family: "Roboto", "sans-serif";
  font-size: 12px;
}
.projects__cards .card__button {
  font-family: "Roboto", "sans-serif";
  margin-top: 10px;
  margin-bottom: 10px;
}
.projects__cards .card__button button {
  background-color: #e3f6f5;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  width: 88px;
  margin-right: 10px;
  border: 1px solid #272643;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 2px;
  color: #272643;
}
.projects__cards .card__button button:hover {
  background-color: white;
  cursor: pointer;
}

.footer {
  background-color: #e3f6f5;
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100 vw;
  height: 150px;
}
.footer__link-icon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: inherit;
}
.footer a {
  border: 3px solid #272643;
  border-radius: 50%;
}
.footer img {
  align-self: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #e3f6f5;
}
.footer img:hover {
  background-color: white;
}
.footer p {
  background-color: inherit;
  color: #272643;
  margin-top: 20px;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.about-me__heading {
  font-family: "Ubuntu", "sans-serif";
  font-size: 18px;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
}
.about-me__my-image {
  width: 200px;
  height: auto;
  border: 2px solid #e3f6f5;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  box-shadow: 1px 1px 5px;
}
.about-me__text {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}
.about-me__text p {
  font-family: "Roboto", "sans-serif";
  font-size: 12px;
  margin-bottom: 10px;
}
.about-me__laptop-girl {
  display: none;
  width: 180px;
}

.experience {
  width: 80%;
  margin-bottom: 150px;
  padding: 20px;
}
.experience__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience__heading {
  font-family: "Ubuntu", "sans-serif";
  margin-bottom: 30px;
  color: white;
}
.experience__collapsible {
  background-color: #4a5867;
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: white;
  width: 100%;
  height: 50px;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid white;
  margin-bottom: 20px;
}
.experience__content {
  font-family: "Roboto", "sans-serif";
  font-size: 12px;
  background-color: #272643;
  margin-top: 10px;
  margin-bottom: 30px;
  overflow: hidden;
  display: none;
}
.experience__content p {
  background-color: #e3f6f5;
  color: #272643;
  padding: 20px;
}
.experience__content ul {
  display: flex;
}
.experience__content ul li {
  padding: 10px;
  background-color: #e3f6f5;
  color: #272643;
}
.experience .active, .experience__collapsible:hover {
  background-color: white;
  color: #272643;
  font-weight: bold;
  cursor: pointer;
}

.top-nav .navbar {
  display: grid;
  grid-template-columns: 5fr 1fr;
  padding: 10px;
}
.top-nav .navbar__heading {
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  padding: 10px;
}
.top-nav .navbar__heading2 {
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  display: none;
}
.top-nav .navbar__image {
  width: 50%;
}
.top-nav .navbar__list {
  font-family: "Roboto", "sans-serif";
  display: none;
}
.top-nav .navbar__list a {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 14px;
}
.top-nav .navbar__list a:link,
.top-nav .navbar__list a:visited {
  text-decoration: none;
}
.top-nav .navbar__list--button {
  background-color: #e3f6f5;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Roboto", "sans-serif";
  color: #272643;
  text-align: center;
  width: 100px;
  padding: 5px;
}
.top-nav .navbar__list--button:hover {
  background-color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #272643;
  color: #e3f6f5;
}

@media screen and (min-width: 768px) {
  .top-nav .navbar {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
  .top-nav .navbar__list {
    display: unset;
  }
  .top-nav .navbar__heading {
    display: none;
  }
  .top-nav .navbar__heading2 {
    display: unset;
  }
  .top-nav .navbar__image {
    display: none;
  }
  .intro .intro-container__heading {
    text-align: center;
  }
  .skills__icon-with-text {
    display: flex;
    justify-content: center;
  }
  .projects__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .about-me {
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-areas: "myimage heading heading heading" "myimage text text text" "myimage text text text";
  }
  .about-me__heading {
    grid-area: heading;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 40px;
  }
  .about-me__my-image {
    grid-area: myimage;
    align-self: center;
  }
  .about-me__text {
    grid-area: text;
    width: 50%;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .intro .intro-container {
    display: grid;
    grid-template-areas: "text text text" "heading heading image" "button button image";
  }
  .intro .intro-container__text {
    grid-area: text;
    font-size: 20px;
  }
  .intro .intro-container__heading {
    grid-area: heading;
    font-size: 26px;
  }
  .intro .intro-container__link {
    grid-area: button;
  }
  .intro .intro-container__link button {
    margin: 0;
    font-size: 20px;
  }
  .intro .intro-container img {
    grid-template-columns: image;
    display: unset;
    margin: 0;
  }
  .skills h2 {
    font-size: 22px;
  }
  .skills__text {
    font-size: 16px;
  }
  .skills__icon-with-text p {
    font-size: 16px;
  }
  .projects__text {
    font-size: 22px;
  }
  .projects__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .projects__cards .card h3 {
    font-size: 16px;
  }
  .projects__cards .card h4 {
    font-size: 18px;
  }
  .projects__cards .card p {
    font-size: 16px;
  }
  .about-me {
    margin-bottom: 100px;
    display: grid;
    grid-template-areas: "heading heading" "text image";
  }
  .about-me__heading {
    grid-area: heading;
    margin-left: 0;
    font-size: 22px;
  }
  .about-me__my-image {
    grid-area: image;
  }
  .about-me__text {
    grid-area: text;
    margin: 0;
    width: 80%;
  }
  .about-me__text p {
    font-size: 16px;
  }
  .about-me__my-image {
    display: none;
  }
  .about-me__laptop-girl {
    display: unset;
  }
  .experience__collapsible {
    font-size: 16px;
  }
  .experience__content {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */